@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap");
body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1c92d2), to(#f2fcfe));
  background-image: -webkit-linear-gradient(top, #1c92d2, #f2fcfe);
  background-image: -o-linear-gradient(top, #1c92d2, #f2fcfe);
  background-image: linear-gradient(180deg, #1c92d2, #f2fcfe);
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  padding: 0 3rem;
}

.container {
  width: 600px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 0.3rem 0.5rem #555555;
          box-shadow: 0 0.3rem 0.5rem #555555;
}

.container .banner {
  background-color: #222;
  width: 100%;
  height: 3rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25rem 0;
}

.container .banner h1 {
  margin: 0;
}

.content .weather-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.content .weather-info img {
  width: 70px;
  height: auto;
}

.content .weather-info .current-weather {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0.75rem 0;
}

.content .weather-info .location {
  font-size: 1.25rem;
  font-weight: 500;
}

.content .weather-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 2rem;
}

.content .weather-details .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .weather-details .details .title {
  font-size: 1.10rem;
  font-weight: 500;
  color: #777;
  margin-bottom: 0.5rem;
}

.search-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 2rem auto;
  width: 80%;
}

.search-city input {
  padding: 0.5rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #ccc;
  border-right: none;
  width: 90%;
}

.search-city input.error {
  border: 1px solid #e60000;
}

.search-city input.error::-webkit-input-placeholder {
  color: #e60000;
}

.search-city input.error:-ms-input-placeholder {
  color: #e60000;
}

.search-city input.error::-ms-input-placeholder {
  color: #e60000;
}

.search-city input.error::placeholder {
  color: #e60000;
}

.search-city input::-webkit-input-placeholder {
  opacity: 0.7;
  font-family: "Ubuntu", sans-serif;
}

.search-city input:-ms-input-placeholder {
  opacity: 0.7;
  font-family: "Ubuntu", sans-serif;
}

.search-city input::-ms-input-placeholder {
  opacity: 0.7;
  font-family: "Ubuntu", sans-serif;
}

.search-city input::placeholder {
  opacity: 0.7;
  font-family: "Ubuntu", sans-serif;
}

.search-city button {
  padding: 0.25rem;
  width: 10%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #999999;
  border-left: none;
  background-color: #999999;
  color: #fff;
  cursor: pointer;
}

.search-city button:hover {
  background-color: #ccc;
  color: #999999;
  border: 1px solid #ccc;
}

.search-city button i {
  font-size: 1.25rem;
  padding: 0.3rem;
}

a {
  position: absolute;
  bottom: 0.5rem;
  font-size: 0.85rem;
}
/*# sourceMappingURL=style.css.map */